body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #408080;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

h1 {
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
    width: 100px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 18px;
    color: #333;
}
